# Gradle
.gradle/
build/

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.launch
out/
bin/

# Minecraft
run/
run-b/
eclipse/
logs/
libs/

# OS
.DS_Store
Thumbs.db

# Forge build output
*.jar
!gradle/wrapper/gradle-wrapper.jar